html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
h5, h6, fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Alfa Slab One', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
}

canvas {
  background-color: #80FF00;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -500px;
}

h1 {
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin: 8px 15px;
}

h3 {
  margin-left: 25px;
}

.instruction-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -700px;
  width: 200px;
  color: #2db300;
  background-color: #663300;
  padding-bottom: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
